<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content below * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * Delete the template below * * * * * * * * * * -->
<!-- * * * * * * * to get started with your project! * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->

<style>
  .toolbar {
    background-color: #f1ece6;
    text-align: center;
    font-size: 48px;
    color: #706f6f;
    -webkit-text-stroke: 2px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 16px;
  }
  .todoText {
    color: #d98326;
  }
  .toolbar i {
    margin: 0 4px;
  }
  .todoText > .fa-regular {
    font-size: 44px;
  }

  .inputs {
    background-color: #f3f3f3;
    padding: 0px;
    display: flex;
    justify-content: center;
  }

  .inputs-content {
    display: flex;
    justify-content: center;
    position: relative;
  }

  .cat-input h3 {
    text-align: center;
    min-width: 100px;
    margin: 8px 25px;
    cursor: pointer;
    color: #969696;
  }


  .cat-input > .active {
    color: #000;
  }

  .slider {
    width: 150px;
    height: 3px;
    background-color: #d98326;
    position: absolute;
    left: 0px;
    bottom: 0px;
    transition: transform 500ms ease;
  }

  .slider-active {
    color: #000;
  }

  .slider-initial {
    transform: translateX(0);
  }

  .slider-last {
    transform: translateX(100%);
  }

  .main-content {
    text-align: center;
  }

  .todo-input {
    border: none;
    outline: none;
    margin: 16px 0px;
    padding: 8px 24px;
    border-bottom-left-radius: 15px;
    border-top-left-radius: 15px;
    background-color: #f1ece6;
    min-width: 200px;
  }

  .add-btn {
    background: none;
    border-bottom-right-radius: 15px;
    border-top-right-radius: 15px;
    padding: 8px 12px;
    background-color: #76b7cd;
    border: none;
    color: #fff;
    cursor: pointer;
  }

  .todos-container {
    background-color: #f1ece6;
    min-width: 300px;
    min-height: 250px;
    display: inline-block;
    border-radius: 15px;
    padding: 8px;
  }

  .todos-container > h4 {
    color: #a5a5a5;
  }

  .todos-container > button {
    color: #d98326;
    border: 2px solid;
    border-radius: 15px;
    padding: 8px;
    background: none;
    float: right;
    font-size: 16px;
    margin-top: 24px;
    cursor: pointer;
  }

  .todo-parent-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 16px;
  }

  .todo-box {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 16px;
    margin-bottom: 4px;
    width: 100%;
  }

  .todo-box > .icon {
    font-size: 24px;
    color: #a19f9d;
    cursor: pointer;
  }

  .todo-box > h4 {
    flex-grow: 1;
    margin: 0 8px;
    text-align: left;
  }

  .done {
    color: #d98326;
    -webkit-text-stroke: 1px;
  }

  .done-title {
    text-decoration: line-through;
    color: #c3c2c2;
  }

  .divider {
    height: 2px;
    width: 80%;
    background-color: #76b7cd;
  }

  .del-btn {
    color: #c2185b;
    cursor: pointer;
  }

</style>

<!-- Toolbar -->
<div class="toolbar" role="banner">
  <i class="fa-solid fa-t"></i>
  <i class="fa-solid fa-o"></i>
  <span class="todoText" >
    <i class="fa-solid fa-d"></i>
    <i class="fa-regular fa-circle-check"></i>
  </span>
</div>

<div class="content" role="main">
  <div class="inputs" >
    <div class="inputs-content" >
      <span class="cat-input" *ngFor="let category of categories" style="text-align: center;" >
        <h3 *ngIf='selectedCategory==category; else multi' (click)="changeCategory()" class="active">{{category}}</h3> 
        <ng-template #multi> 
          <h3 (click)="changeCategory()">{{category}}</h3> 
        </ng-template>
        <span [ngSwitch]="selectedCategory">
          <div *ngSwitchCase="'Personal'" class="slider slider-initial"></div>
          <div *ngSwitchCase="'Others'" class="slider slider-last"></div>
          <div *ngSwitchDefault class="slider slider-initial"></div>
        </span>
      </span>
    </div>
  </div>
  <div class="main-content">
    <input 
      class="todo-input"
      placeholder="What do you need to do?"
      [value]="inputText"
      (input)="handleTextChange($event)"
      (keydown)="handleKeyDown($event)"
    />
    <button class="add-btn" (click)="addTodo()" >ADD</button>
    <br />
    <div class="todos-container">
      <span *ngIf="todos.length > 0; else showTodos" >
        <div class="todo-parent-box"  *ngFor="let todo of todos">
          <div class="todo-box" >
            <span class="icon" (click)="unCompleteTodo(todo.id)" *ngIf='todo.isCompleted; else open' >
              <i class="fa-regular fa-circle-check done"></i>
            </span>
            <ng-template #open>
              <span class="icon" (click)="completeTodo(todo.id)" ><i class="fa-solid fa-o"></i></span>
            </ng-template>
            <h4 class="done-title" *ngIf='todo.isCompleted; else openText' >{{todo.title}}</h4>
            <ng-template #openText> 
              <h4>{{todo.title}}</h4>
            </ng-template>
            <i class="fa-solid fa-trash del-btn" (click)="deleteTodo(todo.id)"></i>
          </div>
          <div class="divider"></div>
        </div>
      </span>
      <ng-template #showTodos>
        <h4>Add some ToDo Item</h4>
      </ng-template>
      <button (click)="clearCompleted()" >
        <i class="fa-solid fa-xmark"></i>
        Clear Completed
      </button>
    </div>
  </div>
</div>

<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content above * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * End of Placeholder * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->

